@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/*---HEADER---*/
.logo {
  width: 90px;
  height: 60px; }

.bg-ourmission {
  background-image: url("../media/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; }
  .bg-ourmission .om-main {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .bg-ourmission .om-main .om-title {
      font-family: 'Acme', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.563em;
      font-style: italic;
      color: white; }
    .bg-ourmission .om-main .om-flex {
      display: flex;
      justify-content: center;
      align-items: center; }
      .bg-ourmission .om-main .om-flex .om-paragraph {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 15px;
        color: white;
        text-align: justify;
        line-height: 1.562em;
        padding-right: 2%; }

.bg-au {
  background-image: url("../media/images/backgr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; }
  .bg-au .au-title {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.563em;
    font-style: italic; }
  .bg-au .au-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.563rem;
    color: white;
    text-align: justify; }

/*---JUMBOTRON- INDEX --*/
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../media/images/homebackgr.jpg");
  background-size: cover;
  background-position: center;
  height: 550px;
  border-radius: 0; }
  .jumbotron .title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2.75em;
    font-style: italic;
    text-align: center; }
  .jumbotron .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 1.875em;
    font-style: italic;
    text-align: center; }

/* JUMBOTRON END*/
.w-100 {
  height: 100%; }

.navbar {
  background-color: #f70776;
  color: #141010; }
  .navbar .navbar-collapse {
    justify-content: end; }
  .navbar .navbar-nav {
    align-items: flex-end; }
    .navbar .navbar-nav .nav-link {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      font-size: 1.25em;
      font-style: normal;
      text-shadow: 0 0 3px #141010; }
      .navbar .navbar-nav .nav-link:hover {
        transform: scale(1.1);
        transition: all ease;
        margin: 0px 20px;
        color: #141010; }
  .navbar .navbar-toggler {
    margin: 0px 10px; }

/*---FOOTER START---*/
.footer {
  color: white;
  background-color: #141010;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .social-media i {
    color: #f70776;
    font-size: 20px;
    text-align: center;
    padding: 3px 6px; }
    .footer .social-media i:hover {
      transform: scale(1.1);
      transition: all ease; }

/*-----FOOTER END----*/
.main-form {
  background-image: url("../media/images/backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .main-form .div-form {
    margin: 30px 20px; }
    .main-form .div-form .bg-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #141010;
      border: 1px solid #f70776;
      border-radius: 10px; }
      .main-form .div-form .bg-form .form-title {
        text-align: center;
        color: white;
        font-family: 'Acme', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 25px;
        word-spacing: 5px;
        margin: 20px 0; }
      .main-form .div-form .bg-form .input-form {
        width: 45vh;
        height: 35px;
        margin: 5px 30px;
        padding: 0 10px;
        color: #141010;
        text-align: center; }
      .main-form .div-form .bg-form textarea {
        margin: 5px 30px;
        padding: 0 10px;
        color: #141010;
        text-align: center;
        width: 45vh; }
      .main-form .div-form .bg-form .button-form {
        width: 45vh;
        margin: 0px 25px 10px;
        border: 1px solid #f70776;
        color: #141010;
        box-shadow: 0 2px 0 #680747;
        border-radius: 3px; }
        .main-form .div-form .bg-form .button-form:hover {
          transform: scale(1.1);
          transition: all ease; }
    .main-form .div-form .iframe-contact {
      margin-right: 16px;
      padding-right: 10px;
      width: 500px;
      height: 400px;
      border-radius: 20px; }

/*--- FIN CONTACT---*/
.item {
  height: 300px;
  border: 2px solid #141010;
  filter: grayscale(100%);
  transition: 1s; }
  .item:hover {
    filter: grayscale(0%); }

.item1 {
  background-image: url("../media/images/1.jpg");
  background-size: cover;
  background-position: center; }

.item2 {
  background-image: url("../media/images/2.jpg");
  background-size: cover;
  background-position: center; }

.item3 {
  background-image: url("../media/images/3.jpg");
  background-size: cover;
  background-position: center; }

.item4 {
  background-image: url("../media/images/4.jpg");
  background-size: cover;
  background-position: center; }

.item5 {
  background-image: url("../media/images/5.jpg");
  background-size: cover;
  background-position: center; }

.item6 {
  background-image: url("../media/images/6.jpg");
  background-size: cover;
  background-position: center; }

.item7 {
  background-image: url("../media/images/7.jpg");
  background-size: cover;
  background-position: center; }

.item8 {
  background-image: url("../media/images/8.jpg");
  background-size: cover;
  background-position: center; }

.item9 {
  background-image: url("../media/images/9.jpg");
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 560px) {
  .title {
    font-size: 2.20em;
    margin: 0px; }
  .om-main {
    flex-direction: column; }
  .om-flex {
    flex-direction: column; }
  .om-iframe {
    width: 90%; }
  .om-paragraph {
    padding-right: 0px; }
  .main-form {
    flex-direction: column; }
  .iframe-contact {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  .bg-form {
    width: 50vh; }
  .textarea {
    width: 45vh; }
  .form-title {
    font-size: 20px; }
  .input-form {
    width: 210px;
    margin: 10px 45px; }
  .textarea {
    margin: 15px;
    padding: 0px; }
  .button-form {
    width: 16.25em;
    margin: 15px; } }

@media screen and (min-width: 561px) and (max-width: 1024px) {
  .om-main {
    flex-direction: column; }
  .om-iframe {
    width: 100vh; }
  .om-flex {
    flex-direction: column; }
  .om-paragraph {
    padding-right: 0px; }
  .main-form {
    flex-direction: column; }
  .iframe-contact {
    width: 100vh;
    margin: 0px;
    padding: 0px; }
  .form-title {
    font-size: 25px; }
  .input-form {
    width: 280px;
    margin: 10px 45px; }
  .textarea {
    margin: 15px 50px;
    padding: 0px; }
  .button-form {
    width: 280px;
    margin: 15px 50px; } }
