.bg-ourmission{
    background-image: url("../media/images/background.png");
    @include img-item;
    @include no-repeat;
    padding: 20px;

    .om-main{
        display: flex;
        align-items: center;
        justify-content: space-between;


        .om-title{
            @include typo2;
            font-size: 1.563em;
            font-style: italic;
            color: $lyrics;
        }

        .om-flex{
            display: flex;
            justify-content: center;
            align-items: center;

            .om-paragraph{
                display: flex;
                flex-direction: column;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 15px;
                color: $lyrics;
                text-align: justify;
                line-height: 1.562em;
                padding-right: 2%;
            }   
        }     
    }
}

.bg-au{
    background-image: url("../media/images/backgr.jpg");
    @include img-item;
    @include no-repeat;
    padding: 20px;

    .au-title{
        @include typo2;
        color: $lyrics;
        text-align: center;
        font-size: 1.563em;
        font-style: italic;
    }

    .au-paragraph{
        font-family: Arial, Helvetica, sans-serif;
        margin: 1.563rem;
        color: $lyrics;
        text-align: justify;
    }
}
