.item{
    height: 300px;
    border: 2px solid $black;
    filter: grayscale(100%);
    transition: 1s;

    &:hover{
        filter: grayscale(0%);
    }
}

.item1{
    background-image: url("../media/images/1.jpg");
    @include img-item
}
.item2{
    background-image: url("../media/images/2.jpg");
    @include img-item
}

.item3{
    background-image: url("../media/images/3.jpg");
    @include img-item
}

.item4{
    background-image: url("../media/images/4.jpg");
    @include img-item
}

.item5{
    background-image: url("../media/images/5.jpg");
    @include img-item
}


.item6{
    background-image: url("../media/images/6.jpg");
    @include img-item
}

.item7{
    background-image: url("../media/images/7.jpg");
    @include img-item
}
.item8{
    background-image: url("../media/images/8.jpg");
    @include img-item
}

.item9{
    background-image: url("../media/images/9.jpg");
    @include img-item
}