/*---JUMBOTRON- INDEX --*/
.jumbotron{
    @include flex;
    background-image: url("../media/images/homebackgr.jpg");
    @include img-item;
    height: 550px;
    border-radius: 0;

    .title{
        @include typo1;
        color: $lyrics;
        font-size: 2.75em;
        font-style: italic;
        text-align: center;
    }

    .subtitle{
        @include typo1;
        color: $lyrics;
        font-size: 1.875em;
        font-style: italic;
        text-align: center;
    }
}
/* JUMBOTRON END*/ 

.w-100{
    height: 100%;
}