/*---JUMBOTRON- INDEX --*/
.jumbotron{
    @include flex;
    background-image: url("../media/images/sobrenosotros.png");
    @include img-item;
    height: 450px;
    border-radius: 0;

    .title{
        @include typo1;
        color: $lyrics;
        font-size: 3.75em;
        font-style: italic;
        text-align: center;
    }

    .subtitle{
        @include typo1;
        color: $lyrics;
        font-size: 1.875em;
        font-style: italic;
        text-align: center;
    }
}
/* JUMBOTRON END*/ 